<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="container">
    <h1> Adicione um novo coquetel </h1>
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit %>
    <% end %>
    <br><br>
    <h3><%= link_to "Retornar à página de cocktéis", root_path %> </h3>
  </div>
</body>
</html>
